body {
    font-family: monospace;
}


table {
    margin: 5rem auto 0;
    width: 18rem;
    padding: 1rem;
    background: black;
    border-collapse: separate;
    border-spacing: .3rem;
    border-radius: 0.6rem;
}

td {
  text-align: center;
  border: 1px solid white;
  color: white;
  width: 25%;
  height: 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

th {
  width: 100%;
  max-width: 15rem;
  font-size: 1.5rem;
  font-weight: 100;
  background: white;
  color: black;
  height: 3rem;
  text-align: right;
  padding-right: 0.5rem;
  vertical-align: middle;
  border-bottom: 1rem solid black;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#operator {
    text-align: center;
    width: 100%;
    height: 20px;
    background: red;
    color: white;
}


